<h1>Preferences New Page</h1>
<% session[:matchup_start] = false %>

<%= form_for @preference do |f| %>
<%= f.collection_check_boxes :cuisine_ids, Cuisine.all, :id, :name %><br>
<%= f.collection_select :user_id, User.all, :id, :name %>

<%= f.submit "Update Preferences" %>
<% end %>
