/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {

}

h1.logo {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  font-family: 'Gaegu', cursive;
}

.logo {
  font-family: 'Gaegu', cursive;
  text-align: center;
  font-weight: bold;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.check-box {
  border: 1px rgb(166, 166, 166) solid;
  padding: 70px;
  margin: 20px;
  border-radius: 5%;
  font-size: 20px;
  background: rgb(248, 248, 248);
  box-shadow: 0 4px 0 0 #bb4f4f;
  width: 200px;
  text-align: center;
}

.check-box:hover {
  background-color: #d95c5c;
  cursor: pointer;
  color: white;
  border: 1px #d95c5c solid;
}

.check-box:active {
  transform: translate(0px, 4px);
  box-shadow: none;
}

.radio-btn {
  border: 1px rgb(166, 166, 166) solid;
  padding: 200px;
  margin: 50px;
  border-radius: 5%;
  font-size: 30px;
  background: rgb(248, 248, 248);
  box-shadow: 0 4px 0 0 #bb4f4f;
}

.radio-btn:hover {
  background-color: #d95c5c;
  cursor: pointer;
  color: white;
  border: 1px #d95c5c solid;
}

.radio-btn:active {
  transform: translate(0px, 4px);
  box-shadow: none;
}

.preference-form {
  margin: auto;
  text-align: center;
}

.pick-food-btn {
  text-align: center;
}

.yelp-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.yelp-restaurant {
  border: 1px rgb(166, 166, 166) solid;
  background: rgb(248, 248, 248);
  border-radius: 5%;
  padding: 30px;
  margin: 10px;
  font-size: 15px;
  transition: 0.3s ease-in;
}

.yelp-restaurant:hover {
  border: solid 1px #d95c5c;
  box-shadow: 5px 5px 5px #d95c5c;
  cursor: pointer;
}

.nav {
  background: #d95c5c;
  color: white;
}

.login-page {
  text-align: center;
}

.start-pick-btn {
  text-align: center;
}
